.advantages {
    margin-top: 166px;
}

.header_advantages {
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.advantages_content {

}

.advantages_container {

}

.adv_container {

}