.borrow {
    max-width: 1440px;
    padding: 0 90px;
    margin-bottom: 100px;
}

.line {
    width: 100%;
    border: 2px solid rgb(249, 73, 107);
}

@media (max-width: 500px) {
    .borrow {
        max-width: 500px;
        padding: 0 20px;
    }
    
}





