.trade {
    max-width: 1440px;
    margin-top: 166px;
}

.header_trade {
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    margin-bottom: 70px;
}

.trade_category {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.category_trades {
    box-sizing: border-box;
    border: 1px solid rgb(0, 81, 147);
    border-radius: 5px 0px 0px 5px;
    background-color: #005193;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: white;
    width: 323px;
    padding-right: 71px;
    padding-left: 81px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.category_offers {
    box-sizing: border-box;
    border: 1px solid rgb(0, 81, 147);
    border-radius: 0px 5px 5px 0px;
    background-color: white;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #858181;
    width: 323px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav {
    display: flex;
    gap: 171px;
    padding-right: 220px;
    padding-left: 193px;
    margin-bottom: 20px;
}

.nav_category {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #1E222E;
    text-decoration: none;
}

.table_container {
    display: flex;
    flex-direction: column;
}

.table_category {
    width: 100%;
    background-color: #E8ECFF;
    padding-top: 31px;
    padding-bottom: 33px;
    padding-left: 17px;
    padding-right: 222px;
    display: flex;
    gap: 70px;
}

.table_td {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

.table_names {
    width: 100%;
    padding-top: 31px;
    padding-bottom: 33px;
    padding-left: 17px;
    padding-right: 222px;
    display: flex;
    gap: 60px;
}

.container_category {
    display: flex;
}

.table_btn {
    box-sizing: border-box;
    border: 1px solid rgb(0, 81, 147);
    border-radius: 5px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
    color: #1E222E;
}

.img_time {
    width: 12px;
    height: 12px;
}

.line_category {
    border: 1px solid rgb(0, 81, 147);
    width: 100%;
    margin-bottom: 29px;
}

.archive_btn {
    box-sizing: border-box;
    border: 1px solid rgb(0, 81, 147);
    border-radius: 5px;
    background: rgb(0, 81, 147);
    width: 182px;
    height: 47px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: white;
    margin: 0 auto;
}