.trade {
    max-width: 1440px;
    margin-top: 166px;
}

.header_trade {
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    margin-bottom: 70px;
    text-align: center;
}

.trade_category {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.category_trades {
    box-sizing: border-box;
    border: 1px solid rgb(0, 81, 147);
    border-radius: 5px 0px 0px 5px;
    background-color: #005193;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: white;
    width: 323px;
    padding-right: 71px;
    padding-left: 81px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.category_offers {
    box-sizing: border-box;
    border: 1px solid rgb(0, 81, 147);
    border-radius: 0px 5px 5px 0px;
    background-color: white;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #858181;
    width: 323px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 28px;
}

.nav {
    display: flex;
    gap: 171px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.nav_category {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #1E222E;
    text-decoration: none;
}

.table_container {
    display: flex;
    flex-direction: column;
}

.table_category {
    width: 100%;
    background-color: #E8ECFF;
    padding-top: 31px;
    padding-bottom: 33px;
    padding-left: 17px;
    display: flex;
    justify-content: space-between;
}

.table_flex{
    max-height: 115px;
    overflow: hidden;
    transition: 1s;
}

.table_category .table_td:nth-child(2), .table_flex .table_td:nth-child(2){
    width: 105px;
}
.table_category .table_td:nth-child(3), .table_flex .table_td:nth-child(3){
    width: 100px;
}
.table_category .table_td:nth-child(4), .table_flex .table_td:nth-child(4){
    width: 100px;
}
.table_category .table_td:nth-child(5), .table_flex .table_td:nth-child(5){
    width: 100px;
}
.table_category .table_td:nth-child(6), .table_flex .table_td:nth-child(6){
    width: 100px;
}
.table_category .table_td:nth-child(7), .table_flex .table_td:nth-child(7){
    width: 100px;
}
.table_category .table_td:nth-child(8), .table_flex .table_td:nth-child(8){
    width: 100px;
}

.table_td {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
}

.table_names {
    width: 100%;
    padding-top: 31px;
    padding-bottom: 33px;
    padding-left: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.empty {
    width: 154px;
}

.container_category {
    display: flex;
}

.table_btn {
    box-sizing: border-box;
    border: 1px solid rgb(0, 81, 147);
    border-radius: 5px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #1E222E;
    width: 140px;
}

.provision {
    display: flex;
    gap: 1px;
}

.img_time {
    width: 12px;
    height: 12px;
}

.line_category {
    border: 1px solid rgb(0, 81, 147);
    width: 100%;
}

.archive_btn {
    box-sizing: border-box;
    border: 1px solid rgb(0, 81, 147);
    border-radius: 5px;
    background: rgb(0, 81, 147);
    width: 182px;
    height: 47px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: white;
    margin: 29px auto 0;
}

.completed {
    max-width: 1440px;
    margin: 28px auto 0 auto;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.container_info {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}

.less_container {
    width: 426px;
    box-sizing: border-box;
    border: 2px solid rgb(0, 81, 147);
    border-radius: 15px;
    padding: 26px 100px 40px 100px;
}

.less_sec_container {
    width: 426px;
    box-sizing: border-box;
    border: 2px solid rgb(0, 81, 147);
    border-radius: 0 15px 15px 0;
    padding: 26px 158px 26px 158px;
}

.bigger_container {
    width: 444px;
    z-index: 999;
    box-sizing: border-box;
    border: 2px solid rgb(178, 10, 33);
    border-radius: 15px;
    background: rgb(255, 255, 255);
    padding: 20px 65px 26px 65px;
    transform: scale(1.3);
}

.header_first {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #1E222E;
    margin-bottom: 25px;
}

.header_second {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #1E222E;
    margin-bottom: 16px;
}

.header_third {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #1E222E;
    margin-bottom: 10px;
}

.paragraph_container {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #1E222E;
}

.percent {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #1E222E;
}

.win {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #1E222E;
    margin-top: 15px;
}

.watch_btn {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #1E222E;
    box-sizing: border-box;
    border: 1px solid rgb(0, 81, 147);
    border-radius: 5px;
    padding: 15px 30px 15px 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.toggle {
    max-height: 800px;
}

@media (max-width: 500px) {
    .container_media {
        margin-bottom: 20px;
    }

    .nav {
        gap: 17px;
    }

    .nav_category {
        font-size: 10px;
    }

    .table_container {
        display: none;
    }

    .media {
        max-width: 500px;
    }

    .media_table {
        width: 100%;
        display: flex;
    }

    .table_headers {
        background-color: #E8ECFF;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 15px 6px 11px 9px;
    }
   
    .table_td {
        color: rgb(30, 34, 46);
        font-family: Inter;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        text-transform: lowercase;
    }

    .card {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 15px 6px 11px 9px;
    }

    .media_block {
        display: flex;
    }

    .media_text {
        color: rgb(30, 34, 46);
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
    }

    .btn_media {
        box-sizing: border-box;
        border: 1px solid rgb(94, 129, 255);
        border-radius: 5px;
        color: rgb(30, 34, 46);
        font-family: Inter;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        padding: 10px 20px 10px 20px;
        margin-left: 70%;
    }

    .btn_arch {
        box-sizing: border-box;
        border: 1px solid rgb(94, 129, 255);
        border-radius: 5px;
        background: rgb(94, 129, 255);
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        padding: 10px 20px 10px 20px;
        text-transform: uppercase;
        margin-left: 37%;
    }
}