.overlay{
    position: fixed;
    left: 0;right: 0;bottom: 0;top: 0;
    background-color: rgba(0, 0, 0, 0.281);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal {
    background-color: white;
    min-width: 780px;
    min-height: 616px;
    padding: 40px;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 242px;
    margin: 0 auto;
}

.nav_content {
    color: rgb(133, 129, 129);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-transform: uppercase;
}