.debts {
    max-width: 1440px;
    margin-bottom: 100px;
}

.links {
    margin-top: 30px;
}

.span_header {
    color: #858181;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.span_page {
    color: #1E222E;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.info_container {
    margin-top: 33px;
    display: flex;
    gap: 33px;
    margin-bottom: 90px;
}

.bunc_info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.bunc_header {
    color: #1E222E;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.text_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
}

.bunc_text {
    color: #1E222E;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.bunc_btn {
    width: 208px;
    height: 47px;
    border-radius: 6px;
    border: 0;
    background: rgb(249, 73, 107);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: white;
    text-transform: uppercase;
}

.img_container {
    width: 560px;
    height: 366px;
}

.rules_info {
    display: flex;
    gap: 48px;
}

.rules_cont {
    max-width: 620px;
    background-color: #375FEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 19px 35px 2px;
    text-align: center;
}

.header_rules {
    color: white;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin-bottom: 10px;
}

.text_rules {
    color: white;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

@media (max-width:500px) {
    .links {
        display: none;
    }

    .img_container {
        display: none;
    }

    .bunc_header {
        text-align: center;
        width: 100%;
    }

    .bunc_btn {
        margin: 0 auto;
    }

    .rules_info {
        flex-direction: column;
    }
}