.anket {
    max-width: 1440px;
    padding: 0 90px;
    margin-bottom: 110px;
}

.link {

}

.anket_page {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.txt {
    color: #858181;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.txt_grey {
    color: #1E222E;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.step {
    margin-top: 17px;
    max-width: 232px;
    display: flex;
    gap: 9px;
    margin-bottom: 17px;
}

.number {
    padding: 5px 18px 5px 18px;
    box-sizing: border-box;
    border: 1px solid rgb(249, 73, 107);
    border-radius: 5px;
    color: rgb(30, 34, 46);
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
}

.text_container {
    display: flex;
    align-items: center;
}

.steptxt {
    color: rgb(30, 34, 46);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header {
    color: rgb(30, 34, 46);
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
}

.rating {
    display: flex;
}

.organization {
    display: flex;
    justify-content: center;
    margin-top: 26px;
    margin-bottom: 72px;
}

.fisic {
    box-sizing: border-box;
    border: 1px solid rgb(94, 129, 255);
    border-radius: 5px 0px 0px 5px;
    background: rgb(94, 129, 255);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding: 20px 30px 20px 30px;
}

.uri {
    box-sizing: border-box;
    border: 1px solid rgb(94, 129, 255);
    border-radius: 0px 5px 5px 0px;
    color: rgb(133, 129, 129);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding: 20px 30px 20px 30px;
}

.nav {
    display: flex;
    gap: 162px;
    justify-content: center;
    margin-bottom: 20px;
}

.nav_text {
    color: rgb(133, 129, 129);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-transform: uppercase;
}

.line {
    border: 2px solid rgb(94, 129, 255);
    margin-bottom: 30px;
}

.form_cont {
    
}

.header_contact{
    color: rgb(30, 34, 46);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 20px;
}

.contact_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.cont {
    display: flex;
    gap: 20px;
    width: 100%;
}

.container_form {
    display: flex;
    flex-direction: column;
    width: 407px;
}

.lab {
    color: #1E222E;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 6px;
}

.input {
    box-sizing: border-box;
    border: 1px solid rgb(94, 129, 255);
    border-radius: 5px;
    width: 100%;
    height: 50px;
    padding-left: 5px;
}

.container_city {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 407px;
} 

.city_life {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

.registration {
    color: rgb(30, 34, 46);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.cont_own {
    display: flex;
    margin-bottom: 30px;
    gap: 20px;
}

.psy {
    display: flex;
    gap: 33px;
    margin-bottom: 20px;
    align-items: flex-start;
}

.input_city {
    width: 407px;
}

.psy_health {
    color: rgb(30, 34, 46);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.answer {
    display: flex;
    gap: 5px;
}

.answer_text {
    color: rgb(30, 34, 46);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.container_citizenship {
    width: 100%;
    margin-bottom: 40px;
}

.link_btn {
    display: flex;
    justify-content: center;
} 

.button {
    box-sizing: border-box;
    border: 1px solid rgb(249, 73, 107);
    border-radius: 5px;
    background: rgb(249, 73, 107);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    padding: 15px 30px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 auto;
}
.rating div {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.greyStar {
    background-image: url(/public/images/anket/greyStar.svg);
    background-size: cover;
}
.star {
    background-image: url(/public/images/anket/star.svg);
    background-size: cover;
}


