.attention {
    max-width: 1440px;
    margin-top: 109px;
    margin-bottom: 134px;
}

.header_attention {
    color: #1E222E;
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    margin-bottom: 40px;
}

.container_info {
    display: flex;
    gap: 16px;
    margin-bottom: 30px;
}

.img_attention {
    width: 407px;
    height: 325px;
}

.text_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text_attention {
    color: #1E222E;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.text_special {
    margin-bottom: 20px;
}

.bold {
    color: #1E222E;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

@media (max-width:500px) {
    .header_attention {
        text-align: center;
    }

    .img_attention {
        display: none;
    }
}

